ul#post_list
  @media (max-width: 320px)
    width: 100%
  @media (min-width: 321px)
    width: 320px

  .post.compact
    margin: 0
    padding: 8px
    .usericon
      float: left
      margin: 0
    .title
      font:
        size: 20px
        weight: 500
        letter-spacing: -1px
    .meta,.title
      margin-left: 70px
    .meta
      .by
        font:
          size: smaller
          style: italic
    @include clearfix
